<%- include("partials/header"); -%>
<h1>Home</h1>
<p><%= startingContent %></p>

<% posts.forEach(function(post){ %>
<form class="form" action="/delete/<%=post._id%>" method="post">
  <h1><%=post.title%></h1>
  <p>
    <%=post.content.substring(0, 100) + " ..."%>
    <a href="/posts/<%=post._id%>">Read More</a>
  </p>
  <button class="delete-button" type="submit">Delete</button>
</form>
<% }) %> <%- include("partials/footer"); -%>
